USE [master]
GO
/****** Object:  Database [DangKyHocPhan]    Script Date: 11/5/2019 8:45:37 PM ******/
CREATE DATABASE [DangKyHocPhan]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DangKyHocPhan', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\DangKyHocPhan.mdf' , SIZE = 10240KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'DangKyHocPhan_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\DangKyHocPhan_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DangKyHocPhan].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DangKyHocPhan]
GO
/****** Object:  Table [dbo].[DangKyHocPhan]    Script Date: 11/5/2019 8:45:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DangKyHocPhan](
	[ID_SinhVien] [nchar](10) NOT NULL,
	[ID_LopHocPhan] [nchar](10) NOT NULL,
	[ID_NhomThucHanh] [nchar](10) NULL,
 CONSTRAINT [PK_SV_LopHP_1] PRIMARY KEY CLUSTERED 
(
	[ID_SinhVien] ASC,
	[ID_LopHocPhan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Diem]    Script Date: 11/5/2019 8:45:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Diem](
	[ID_SinhVien] [nchar](10) NOT NULL,
	[ID_LopHocPhan] [nchar](10) NOT NULL,
	[TK1] [float] NULL,
	[TK2] [float] NULL,
	[TK3] [float] NULL,
	[GK] [float] NULL,
	[CK] [float] NULL,
 CONSTRAINT [PK_Diem] PRIMARY KEY CLUSTERED 
(
	[ID_SinhVien] ASC,
	[ID_LopHocPhan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[GiangVien]    Script Date: 11/5/2019 8:45:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GiangVien](
	[ID_GiangVien] [nchar](10) NOT NULL,
	[HoVaTen] [nvarchar](50) NULL,
	[MatKhau] [nchar](10) NULL,
	[TrinhDo] [nvarchar](50) NULL,
	[DiaChi] [nvarchar](50) NULL,
	[SDT] [nchar](12) NULL,
	[Mail] [nchar](50) NULL,
	[HinhAnh] [image] NULL,
 CONSTRAINT [PK_GiangVien] PRIMARY KEY CLUSTERED 
(
	[ID_GiangVien] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[HocPhan]    Script Date: 11/5/2019 8:45:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HocPhan](
	[ID_HocPhan] [nchar](10) NOT NULL,
	[TenMonHoc] [nvarchar](50) NULL,
	[SoTC] [int] NULL,
 CONSTRAINT [PK_HocPhan] PRIMARY KEY CLUSTERED 
(
	[ID_HocPhan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LichHoc]    Script Date: 11/5/2019 8:45:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LichHoc](
	[ID_LichHoc] [int] IDENTITY(1,1) NOT NULL,
	[NgayHoc] [nvarchar](20) NULL,
	[TietHoc] [nchar](20) NULL,
	[ID_PhongHoc] [nchar](10) NULL,
 CONSTRAINT [PK_LichHoc] PRIMARY KEY CLUSTERED 
(
	[ID_LichHoc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LichHoc_LopHocPhan]    Script Date: 11/5/2019 8:45:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LichHoc_LopHocPhan](
	[ID_LichHoc_LopHP] [int] NOT NULL,
	[ID_LopHocPhan] [nchar](10) NULL,
	[NgayHoc] [nvarchar](30) NULL,
	[TietHoc] [nvarchar](30) NULL,
	[ID_PhongHoc] [nchar](10) NULL,
 CONSTRAINT [PK_LichHoc_LopHocPhan] PRIMARY KEY CLUSTERED 
(
	[ID_LichHoc_LopHP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LichHoc_NhomThucHanh]    Script Date: 11/5/2019 8:45:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LichHoc_NhomThucHanh](
	[ID_LichHoc_NhomTH] [int] IDENTITY(1,1) NOT NULL,
	[ID_NhomThucHanh] [nchar](10) NULL,
	[NgayHoc] [nvarchar](30) NULL,
	[TietHoc] [nvarchar](30) NULL,
	[ID_PhongHoc] [nchar](10) NULL,
 CONSTRAINT [PK_LichHoc_NhomThucHanh] PRIMARY KEY CLUSTERED 
(
	[ID_LichHoc_NhomTH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LopHocPhan]    Script Date: 11/5/2019 8:45:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LopHocPhan](
	[ID_LopHocPhan] [nchar](10) NOT NULL,
	[ID_HocPhan] [nchar](10) NULL,
	[ID_NhanVienPDT] [nchar](10) NULL,
	[ID_GiangVien] [nchar](10) NULL,
	[ID_NienKhoa] [int] NULL,
	[HocKy] [int] NULL,
	[SoLuong] [int] NULL,
	[TrangThai] [nchar](40) NULL,
	[SoTiet] [int] NULL,
	[NgayBatDau] [date] NULL,
	[NgayKetThuc] [date] NULL,
 CONSTRAINT [PK_LopHocPhan] PRIMARY KEY CLUSTERED 
(
	[ID_LopHocPhan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LopNienChe]    Script Date: 11/5/2019 8:45:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LopNienChe](
	[ID_LopNienChe] [nchar](10) NOT NULL,
	[TenLop] [nchar](10) NULL,
	[ChuyenNganh] [nchar](50) NULL,
	[KhoaHoc] [nchar](10) NULL,
	[ID_GiangVien] [nchar](10) NULL,
 CONSTRAINT [PK_LopNienChe] PRIMARY KEY CLUSTERED 
(
	[ID_LopNienChe] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NhanVienPDT]    Script Date: 11/5/2019 8:45:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhanVienPDT](
	[ID_NhanVienPDT] [nchar](10) NOT NULL,
	[HoVaTen] [nvarchar](50) NULL,
	[DiaChi] [nvarchar](50) NULL,
	[SDT] [nchar](12) NULL,
	[Mail] [nchar](50) NULL,
	[MatKhau] [nchar](10) NULL,
	[HinhAnh] [image] NULL,
 CONSTRAINT [PK_NhanVienPDT] PRIMARY KEY CLUSTERED 
(
	[ID_NhanVienPDT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NhomThucHanh]    Script Date: 11/5/2019 8:45:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhomThucHanh](
	[ID_NhomThucHanh] [nchar](10) NOT NULL,
	[ID_LopHocPhan] [nchar](10) NULL,
	[ID_GiangVien] [nchar](10) NULL,
	[TenNhom] [nchar](10) NULL,
	[SoLuong] [int] NULL,
	[SoTiet] [int] NULL,
	[NgayBatDau] [date] NULL,
	[NgayKetThuc] [date] NULL,
 CONSTRAINT [PK_NhomTH] PRIMARY KEY CLUSTERED 
(
	[ID_NhomThucHanh] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NienKhoa]    Script Date: 11/5/2019 8:45:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NienKhoa](
	[ID_NienKhoa] [int] IDENTITY(1,1) NOT NULL,
	[NienKhoa] [nvarchar](50) NULL,
 CONSTRAINT [PK_NienKhoa] PRIMARY KEY CLUSTERED 
(
	[ID_NienKhoa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PhongHoc]    Script Date: 11/5/2019 8:45:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhongHoc](
	[ID_PhongHoc] [nchar](10) NOT NULL,
	[TenPhongHoc] [nchar](10) NULL,
 CONSTRAINT [PK_PhongHoc] PRIMARY KEY CLUSTERED 
(
	[ID_PhongHoc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SinhVien]    Script Date: 11/5/2019 8:45:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SinhVien](
	[ID_SinhVien] [nchar](10) NOT NULL,
	[MatKhau] [nchar](10) NULL,
	[HoVaTen] [nvarchar](50) NULL,
	[ID_LopNienChe] [nchar](10) NULL,
	[DiaChi] [nvarchar](50) NULL,
	[SDT] [nchar](12) NULL,
	[Mail] [nchar](50) NULL,
	[HinhAnh] [image] NULL,
 CONSTRAINT [PK_SinhVien] PRIMARY KEY CLUSTERED 
(
	[ID_SinhVien] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
INSERT [dbo].[HocPhan] ([ID_HocPhan], [TenMonHoc], [SoTC]) VALUES (N'hp00000001', N'Kỹ thuật lập trình', 3)
INSERT [dbo].[HocPhan] ([ID_HocPhan], [TenMonHoc], [SoTC]) VALUES (N'hp00000002', N'Kỹ năng phát triển nghề nghiệp', 3)
INSERT [dbo].[HocPhan] ([ID_HocPhan], [TenMonHoc], [SoTC]) VALUES (N'hp00000003', N'Nhập môn lập trình', 3)
INSERT [dbo].[LichHoc_LopHocPhan] ([ID_LichHoc_LopHP], [ID_LopHocPhan], [NgayHoc], [TietHoc], [ID_PhongHoc]) VALUES (0, N'lh00000011', N'Thứ Hai', N'1-3', N'ph00000001')
INSERT [dbo].[LichHoc_LopHocPhan] ([ID_LichHoc_LopHP], [ID_LopHocPhan], [NgayHoc], [TietHoc], [ID_PhongHoc]) VALUES (1, N'lh00000011', N'Thứ Hai', N'2-3', N'ph00000001')
SET IDENTITY_INSERT [dbo].[LichHoc_NhomThucHanh] ON 

INSERT [dbo].[LichHoc_NhomThucHanh] ([ID_LichHoc_NhomTH], [ID_NhomThucHanh], [NgayHoc], [TietHoc], [ID_PhongHoc]) VALUES (1, N'th00000005', N'Thứ Sáu', N'1-3', N'ph00000001')
INSERT [dbo].[LichHoc_NhomThucHanh] ([ID_LichHoc_NhomTH], [ID_NhomThucHanh], [NgayHoc], [TietHoc], [ID_PhongHoc]) VALUES (2, N'th00000005', N'Thứ Tư', N'4-5', N'ph00000001')
INSERT [dbo].[LichHoc_NhomThucHanh] ([ID_LichHoc_NhomTH], [ID_NhomThucHanh], [NgayHoc], [TietHoc], [ID_PhongHoc]) VALUES (3, N'th00000006', N'Thứ Năm', N'1-3', N'ph00000001')
SET IDENTITY_INSERT [dbo].[LichHoc_NhomThucHanh] OFF
INSERT [dbo].[LopHocPhan] ([ID_LopHocPhan], [ID_HocPhan], [ID_NhanVienPDT], [ID_GiangVien], [ID_NienKhoa], [HocKy], [SoLuong], [TrangThai], [SoTiet], [NgayBatDau], [NgayKetThuc]) VALUES (N'lh00000001', N'hp00000001', N'nv00000001', N'gv00000001', 1, 1, 0, N'Chờ Sinh Viên Đăng Ký                   ', 45, CAST(N'2018-01-01' AS Date), CAST(N'2018-02-02' AS Date))
INSERT [dbo].[LopHocPhan] ([ID_LopHocPhan], [ID_HocPhan], [ID_NhanVienPDT], [ID_GiangVien], [ID_NienKhoa], [HocKy], [SoLuong], [TrangThai], [SoTiet], [NgayBatDau], [NgayKetThuc]) VALUES (N'lh00000002', N'hp00000002', N'nv00000001', N'gv00000001', 2, 1, 0, N'Chờ Sinh Viên Đăng Ký                   ', 45, CAST(N'2018-01-02' AS Date), CAST(N'2018-01-02' AS Date))
INSERT [dbo].[LopHocPhan] ([ID_LopHocPhan], [ID_HocPhan], [ID_NhanVienPDT], [ID_GiangVien], [ID_NienKhoa], [HocKy], [SoLuong], [TrangThai], [SoTiet], [NgayBatDau], [NgayKetThuc]) VALUES (N'lh00000003', N'hp00000003', N'nv00000001', N'gv00000001', 2, 1, 0, N'Chờ Sinh Viên Đăng Ký                   ', 45, CAST(N'2018-01-08' AS Date), CAST(N'2018-03-02' AS Date))
INSERT [dbo].[LopNienChe] ([ID_LopNienChe], [TenLop], [ChuyenNganh], [KhoaHoc], [ID_GiangVien]) VALUES (N'nc00000001', N'DHKTPM12A ', N'Kỹ Thuật Phần Mềm                                 ', N'2016-2020 ', N'gv00000001')
INSERT [dbo].[NhomThucHanh] ([ID_NhomThucHanh], [ID_LopHocPhan], [ID_GiangVien], [TenNhom], [SoLuong], [SoTiet], [NgayBatDau], [NgayKetThuc]) VALUES (N'th00000002', N'lh00000001', N'gv00000002', N'1         ', 0, 30, CAST(N'2018-01-01' AS Date), CAST(N'2018-02-02' AS Date))
INSERT [dbo].[NhomThucHanh] ([ID_NhomThucHanh], [ID_LopHocPhan], [ID_GiangVien], [TenNhom], [SoLuong], [SoTiet], [NgayBatDau], [NgayKetThuc]) VALUES (N'th00000003', N'lh00000002', N'gv00000003', N'1         ', 0, 30, CAST(N'2018-01-01' AS Date), CAST(N'2018-02-02' AS Date))
INSERT [dbo].[NhomThucHanh] ([ID_NhomThucHanh], [ID_LopHocPhan], [ID_GiangVien], [TenNhom], [SoLuong], [SoTiet], [NgayBatDau], [NgayKetThuc]) VALUES (N'th00000004', N'lh00000002', N'gv00000004', N'1         ', 0, 30, CAST(N'2018-01-01' AS Date), CAST(N'2018-02-02' AS Date))
SET IDENTITY_INSERT [dbo].[NienKhoa] ON 

INSERT [dbo].[NienKhoa] ([ID_NienKhoa], [NienKhoa]) VALUES (1, N'2011-2012')
INSERT [dbo].[NienKhoa] ([ID_NienKhoa], [NienKhoa]) VALUES (2, N'2012-2013')
INSERT [dbo].[NienKhoa] ([ID_NienKhoa], [NienKhoa]) VALUES (3, N'2013-2014')
SET IDENTITY_INSERT [dbo].[NienKhoa] OFF
INSERT [dbo].[PhongHoc] ([ID_PhongHoc], [TenPhongHoc]) VALUES (N'ph00000001', N'A1.01     ')
INSERT [dbo].[PhongHoc] ([ID_PhongHoc], [TenPhongHoc]) VALUES (N'ph00000002', N'A1.02     ')
INSERT [dbo].[PhongHoc] ([ID_PhongHoc], [TenPhongHoc]) VALUES (N'ph00000003', N'A1.03     ')
ALTER TABLE [dbo].[DangKyHocPhan]  WITH CHECK ADD  CONSTRAINT [FK_DangKyHocPhan_LopHocPhan] FOREIGN KEY([ID_LopHocPhan])
REFERENCES [dbo].[LopHocPhan] ([ID_LopHocPhan])
GO
ALTER TABLE [dbo].[DangKyHocPhan] CHECK CONSTRAINT [FK_DangKyHocPhan_LopHocPhan]
GO
ALTER TABLE [dbo].[DangKyHocPhan]  WITH CHECK ADD  CONSTRAINT [FK_DangKyHocPhan_NhomThucHanh] FOREIGN KEY([ID_NhomThucHanh])
REFERENCES [dbo].[NhomThucHanh] ([ID_NhomThucHanh])
GO
ALTER TABLE [dbo].[DangKyHocPhan] CHECK CONSTRAINT [FK_DangKyHocPhan_NhomThucHanh]
GO
ALTER TABLE [dbo].[DangKyHocPhan]  WITH CHECK ADD  CONSTRAINT [FK_DangKyHocPhan_SinhVien] FOREIGN KEY([ID_SinhVien])
REFERENCES [dbo].[SinhVien] ([ID_SinhVien])
GO
ALTER TABLE [dbo].[DangKyHocPhan] CHECK CONSTRAINT [FK_DangKyHocPhan_SinhVien]
GO
ALTER TABLE [dbo].[Diem]  WITH CHECK ADD  CONSTRAINT [FK_Diem_LopHocPhan] FOREIGN KEY([ID_LopHocPhan])
REFERENCES [dbo].[LopHocPhan] ([ID_LopHocPhan])
GO
ALTER TABLE [dbo].[Diem] CHECK CONSTRAINT [FK_Diem_LopHocPhan]
GO
ALTER TABLE [dbo].[Diem]  WITH CHECK ADD  CONSTRAINT [FK_Diem_SinhVien] FOREIGN KEY([ID_SinhVien])
REFERENCES [dbo].[SinhVien] ([ID_SinhVien])
GO
ALTER TABLE [dbo].[Diem] CHECK CONSTRAINT [FK_Diem_SinhVien]
GO
ALTER TABLE [dbo].[LichHoc_LopHocPhan]  WITH CHECK ADD  CONSTRAINT [FK_LichHoc_LopHocPhan_LopHocPhan] FOREIGN KEY([ID_LopHocPhan])
REFERENCES [dbo].[LopHocPhan] ([ID_LopHocPhan])
GO
ALTER TABLE [dbo].[LichHoc_LopHocPhan] CHECK CONSTRAINT [FK_LichHoc_LopHocPhan_LopHocPhan]
GO
ALTER TABLE [dbo].[LichHoc_LopHocPhan]  WITH CHECK ADD  CONSTRAINT [FK_LichHoc_LopHocPhan_PhongHoc] FOREIGN KEY([ID_PhongHoc])
REFERENCES [dbo].[PhongHoc] ([ID_PhongHoc])
GO
ALTER TABLE [dbo].[LichHoc_LopHocPhan] CHECK CONSTRAINT [FK_LichHoc_LopHocPhan_PhongHoc]
GO
ALTER TABLE [dbo].[LichHoc_NhomThucHanh]  WITH CHECK ADD  CONSTRAINT [FK_LichHoc_NhomThucHanh_NhomThucHanh] FOREIGN KEY([ID_NhomThucHanh])
REFERENCES [dbo].[NhomThucHanh] ([ID_NhomThucHanh])
GO
ALTER TABLE [dbo].[LichHoc_NhomThucHanh] CHECK CONSTRAINT [FK_LichHoc_NhomThucHanh_NhomThucHanh]
GO
ALTER TABLE [dbo].[LichHoc_NhomThucHanh]  WITH CHECK ADD  CONSTRAINT [FK_LichHoc_NhomThucHanh_PhongHoc] FOREIGN KEY([ID_PhongHoc])
REFERENCES [dbo].[PhongHoc] ([ID_PhongHoc])
GO
ALTER TABLE [dbo].[LichHoc_NhomThucHanh] CHECK CONSTRAINT [FK_LichHoc_NhomThucHanh_PhongHoc]
GO
ALTER TABLE [dbo].[LopHocPhan]  WITH CHECK ADD  CONSTRAINT [FK_LopHocPhan_GiangVien] FOREIGN KEY([ID_GiangVien])
REFERENCES [dbo].[GiangVien] ([ID_GiangVien])
GO
ALTER TABLE [dbo].[LopHocPhan] CHECK CONSTRAINT [FK_LopHocPhan_GiangVien]
GO
ALTER TABLE [dbo].[LopHocPhan]  WITH CHECK ADD  CONSTRAINT [FK_LopHocPhan_HocPhan] FOREIGN KEY([ID_HocPhan])
REFERENCES [dbo].[HocPhan] ([ID_HocPhan])
GO
ALTER TABLE [dbo].[LopHocPhan] CHECK CONSTRAINT [FK_LopHocPhan_HocPhan]
GO
ALTER TABLE [dbo].[LopHocPhan]  WITH CHECK ADD  CONSTRAINT [FK_LopHocPhan_NhanVienPDT] FOREIGN KEY([ID_NhanVienPDT])
REFERENCES [dbo].[NhanVienPDT] ([ID_NhanVienPDT])
GO
ALTER TABLE [dbo].[LopHocPhan] CHECK CONSTRAINT [FK_LopHocPhan_NhanVienPDT]
GO
ALTER TABLE [dbo].[LopHocPhan]  WITH CHECK ADD  CONSTRAINT [FK_LopHocPhan_NienKhoa] FOREIGN KEY([ID_NienKhoa])
REFERENCES [dbo].[NienKhoa] ([ID_NienKhoa])
GO
ALTER TABLE [dbo].[LopHocPhan] CHECK CONSTRAINT [FK_LopHocPhan_NienKhoa]
GO
ALTER TABLE [dbo].[LopNienChe]  WITH CHECK ADD  CONSTRAINT [FK_LopNienChe_LopNienChe] FOREIGN KEY([ID_GiangVien])
REFERENCES [dbo].[GiangVien] ([ID_GiangVien])
GO
ALTER TABLE [dbo].[LopNienChe] CHECK CONSTRAINT [FK_LopNienChe_LopNienChe]
GO
ALTER TABLE [dbo].[NhomThucHanh]  WITH CHECK ADD  CONSTRAINT [FK_NhomThucHanh_GiangVien] FOREIGN KEY([ID_GiangVien])
REFERENCES [dbo].[GiangVien] ([ID_GiangVien])
GO
ALTER TABLE [dbo].[NhomThucHanh] CHECK CONSTRAINT [FK_NhomThucHanh_GiangVien]
GO
ALTER TABLE [dbo].[NhomThucHanh]  WITH CHECK ADD  CONSTRAINT [FK_NhomThucHanh_LopHocPhan] FOREIGN KEY([ID_LopHocPhan])
REFERENCES [dbo].[LopHocPhan] ([ID_LopHocPhan])
GO
ALTER TABLE [dbo].[NhomThucHanh] CHECK CONSTRAINT [FK_NhomThucHanh_LopHocPhan]
GO
ALTER TABLE [dbo].[SinhVien]  WITH CHECK ADD  CONSTRAINT [FK_SinhVien_LopNienChe] FOREIGN KEY([ID_LopNienChe])
REFERENCES [dbo].[LopNienChe] ([ID_LopNienChe])
GO
ALTER TABLE [dbo].[SinhVien] CHECK CONSTRAINT [FK_SinhVien_LopNienChe]
GO
USE [master]
GO
